.site-layout-pagecontent {
    min-width:  75%;
    justify-content: center;
    padding: 24px;
    background: #fff;
    box-shadow: 2px 2px 10px #666;
    align-items: center;
  }
  .site-layout-content {
    min-height: 280px;
    min-width:  280px;
    
    padding: 24px;
    background: #fff;
  }
  .content{
     padding: 2em;
     display: flex;
      justify-content: center;
      align-items: center;
    
  }
  .alert {
    padding: 30px;
    background: #ffffff;
    color: rgb(241, 13, 13);
    text-align: center;
  }